<div class="weather-wrapper">
    <div class="weather-card">
        <div class="weather-card__icon-input">
            <div class="weather-card__img-block">
                <img src="assets/IMG/Logo.png" alt="" class="weather-card__img">
            </div>
            <input type="text" class="weather-card__input" placeholder="Search city ">
        </div>
        <div class="today-information">
            <div class="info">
                <div class="info-tp">
                    <h3 class="info__title">City Name</h3>
                    <p class="info__paragraph">Monday, May 15, 2023</p>
                </div>
                <h3 class="info__time">21:39</h3>
            </div>

            <div class="temp-clouds">
                <h1 class="temp-clouds__temperature">28ºc</h1>
                <div class="min-max-temp">
                    <p class="min-max-temp__paragraph">32ºc / 26ºc </p>
                    <p class="temp-clouds__clouds">Few Clouds</p>
                </div>
            </div>
        </div>
    </div>
</div>